[submodule "easy-prom-client-c"]
	path = easy-prom-client-c
	url = https://github.com/t-lin/easy-prom-client-c.git
[submodule "libtins"]
	path = libtins
	url = https://github.com/mfontanini/libtins.git
